body {
    font-family: Verdana;
    margin: 0px;
    overflow: hidden;
}
#topHeader {
    background-color: #67ce7e;
    border-bottom: 3px solid black;
    font-size: 5em;
    font-weight: bold;
    color: black;
    padding-left: 20px;
    -webkit-text-stroke: 1px #Cffff6;
}
button[class="fa-solid fa-bars"]{
    color: rgb(23, 71, 134);
}
#title{
    display: inline;
    padding-left: 50px;
}

#leftBar {
    border-right: 3px solid black;
    width: 15%;
    max-width: 400px;
    min-width: 205px;
    background-color: #abf1bc;
    text-align: center;
    float: left;
    height: 100vh;
}
.leftBtns {
    font-size: 3em;
    color: black;
    text-decoration: none;
    display: block;
    padding: 0px;
}
.leftBtns:hover {
    background-color: #95e9aa;
}

.homeCont{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#homeText{
    display: inline;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
    overflow: auto;
    background-color: #Cffff6;
}
#homeContainer{
    display: block;
    width: 100%;
    height: 99%;
    overflow: auto;

}
#Homeh1{
    display: block;
}

#questionBox {
    width: 45%;                   
    background-color: #abf1bc;
    font-size: 2em;
    padding: 5%;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
    min-height: 300px;
    overflow: auto;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.4);
}

#answer{
    width: 70%;
    height: 40px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1em;
    min-width: 110px;
    background-color: #Cffff6;
}
#subBtn{
    height: 48px;
    width: 20%;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #cfffef;
    font-size: 1em;
    padding: 0px;
    cursor: pointer;
    min-width: 110px;
}
#subBtn:hover{
    background-color: hsl(169, 68%, 79%);
}

#submitText{
    display: inline;
}
.mainCont {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
