body {
    font-family: Verdana;
    margin: 0px;
    overflow: hidden;
}
#topHeader {
    background-color: hsl(177, 87%, 76%);
    border-bottom: 3px solid black;
    font-size: 5em;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}
#topHeader p{
    display: inline;
    color: black;
    -webkit-text-stroke: 1px #Cffff6;
    cursor: default;
}
#toggleLeftBarBtn{
    display: inline;
    margin-right: 10px;
}
#threeLinesIcon{
    height: 60px;
    width: auto;
    cursor: pointer;
}
#Main{
    display: inline;
    padding-left: 50px;
}

#leftBar {
    border-right: 3px solid black;
    width: 15%;
    max-width: 400px;
    min-width: 210px;
    background-color: hsl(175, 76%, 77%);
    text-align: center;
    float: left;
    height: 100vh;
    overflow: hidden;
}
.leftBtns {
    font-size: 3em;
    color: black;
    text-decoration: none;
    display: block;
    padding: 0px;
    -webkit-text-stroke: 1px hsl(0, 0%, 100%);
}
.leftBtns:hover {
    background-color: hsla(0, 0%, 100%, 0.267);
}

.homeCont{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#homeText{
    display: inline;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
    overflow: auto;
    background-color: hsl(169, 100%, 91%);
}
#homeContainer{
    display: block;
    width: 100%;
    height: 99%;
    overflow: auto;

}
#Homeh1{
    display: block;
}

#questionBox{
    width: 45%;  
    min-height: 500px;                 
    background-color: hsl(175, 76%, 77%);
    font-size: 2em;
    padding: 5%;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
    min-height: 300px;
    overflow: auto;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.4);
}

#answer{
    width: 70%;
    height: 40px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1em;
    min-width: 110px;
    background-color: hsla(0, 0%, 100%, 0.900);
}
#subBtn{
    height: 48px;
    width: 20%;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1em;
    padding: 0px;
    cursor: pointer;
    min-width: 110px;
    background-color: hsla(0, 0%, 100%, 0.900);
    margin-top: 10px;
}
#subBtn:hover{
    background-color: hsla(0, 0%, 100%, 0.600);
}
#subBtn:active{
    background-color: hsla(0, 0%, 100%, 0.300);
}

#submitText{
    display: inline;
}
.mainCont {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#lightMode{
    float: right;
    margin: 20px;
    height: 50px;
    background-color: hsl(0, 0%, 10%);
    font-size: 0.3em;
    padding: 5px;
    border: 2px solid hsl(0, 0%, 20%);
    border-radius: 5px;
    color: hsl(0, 0%, 85%);
    cursor: pointer;
}
#lightMode:hover{
    background-color: hsl(0, 0%, 15%);
}
#lightMode:active{
    background-color: hsl(0, 0%, 20%);
}
#startBtn{
    font-size: 3em;
    padding: 30px;
    height: 300px;
    border: 3px solid;
    border-radius: 50px;
    background-color: hsl(0, 0%, 92%);
    cursor: pointer;
}
#startBtn:hover{
    background-color: hsl(0, 0%, 95%);
}
#startBtn:active{
    background-color: hsl(0, 0%, 100%);
}
#altBox{
    display: flex;
    flex-wrap: wrap;
}
.quizalt{
    flex: 1 0 45%;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 15px;
    font-size: 1em;
    overflow: hidden;
    cursor: pointer;
}
#alt1{
    background-color: hsl(271, 100%, 88%);
}
#alt1:hover{
    background-color: hsl(270, 100%, 84%);
}
#alt2{
    background-color: hsl(120, 100%, 88%)
}
#alt2:hover{
    background-color: hsl(120, 100%, 84%)
}
#alt3{
    background-color: hsl(39, 100%, 88%);
}
#alt3:hover{
    background-color: hsl(39, 100%, 84%);
}
#alt4{
    background-color: hsl(348, 100%, 88%);
}
#alt4:hover{
    background-color: hsl(348, 100%, 84%);
}
